<link rel="apple-touch-icon" href="https://derbruden.com/static/ico/header-icon-192.png" />
<link rel="icon" href="../static/ico/header-icon-32.png" type="image/x-icon" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../static/css/site.css?v=1" />
<script type="speculationrules">
  {
    "prefetch": [
      {
        "source": "document",
        "where": { "href_matches": "./*.html" },
        "eagerness": "moderate"
      }
    ]
  }
</script>
