<div class="sponsor-box">
  <a
    href="https://www.supplementsolutions.us/boozebetter?utm_source=derbruden.com&utm_medium=banner&utm_campaign=strangedreamslately"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="../static/img/about-sponsor.webp" alt="Booze Better" width="200" height="200"
  /></a>
  <div class="sponsor-content">
    <p class="sponsor-tagline"><em>Brought to you by:</em></p>
    <p class="sponsor-name">Booze Better</p>
    <p class="sponsor-tagline">Drink Smart, Feel Better. The scientific solution to hangovers has finally arrived.</p>
    <a
      href="https://www.supplementsolutions.us/boozebetter?utm_source=derbruden.com&utm_medium=banner&utm_campaign=strangedreamslately"
      target="_blank"
      rel="noopener noreferrer"
      >Learn more</a
    >.
  </div>
</div>
