---
layout: base.njk
title: "DerBruden.com | IK - That's My God"
---

<main>
  <div class="owner-logo-header">
    <img src="../static/img/owner-ik-logo.webp" alt="IK Logo" class="owner-logo-image">
    <h1>IK - That's My God</h1>
  </div>
  <div class="table-container">
    <table class="stats-table">
      <thead>
        <tr>
          <th class="number">Season</th>
          <th class="number">W</th>
          <th class="number">L</th>
          <th class="number">Win %</th>
          <th class="number">Final Rnk</th>
          <th class="number">RG Rnk</th>
          <th class="number">PF</th>
          <th class="number">PA</th>
          <th class="number">PDiff</th>
          <th class="number">Playoffs</th>
          <th class="number">Champion</th>
        </tr>
      </thead>
      <tbody>
        {% set ownerData = stats.owners.IK %}
        {% for row in ownerData.rows %}
        <tr>
          <td class="number">{{ row.Season }}</td>
          <td class="number">{{ row.W }}</td>
          <td class="number">{{ row.L }}</td>
          <td class="number">{{ (row.W / (row.W + row.L)) | fixed(3) }}</td>
          <td class="number">{{ row.PORnk }}</td>
          <td class="number">{{ row.RGRnk }}</td>
          <td class="number">{{ row.RGPF | comma }}</td>
          <td class="number">{{ row.RGPA | comma }}</td>
          <td class="number">{{ (row.RGPF - row.RGPA) | comma }}</td>
          <td class="number">{{ row['PO?'] }}</td>
          <td class="number">{% if row.Champ == 'Y' %}🏆{% endif %}</td>
        </tr>
        {% endfor %}
        <tr class="totals-row">
          <td class="number">Totals</td>
          <td class="number">{{ ownerData.totals.wins }}</td>
          <td class="number">{{ ownerData.totals.losses }}</td>
          <td class="number">{{ ownerData.totals.winPct | fixed(3) }}</td>
          <td class="number">-</td>
          <td class="number">-</td>
          <td class="number">{{ ownerData.totals.rgpf | comma }}</td>
          <td class="number">{{ ownerData.totals.rgpa | comma }}</td>
          <td class="number">{{ (ownerData.totals.rgpf - ownerData.totals.rgpa) | comma }}</td>
          <td class="number">{{ ownerData.totals.playoffs }}</td>
          <td class="number">{% if ownerData.totals.championships > 0 %}{% for i in range(0, ownerData.totals.championships) %}🏆{% endfor %}{% endif %}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
