---
layout: base.njk
title: "DerBruden.com | League Owners"
---

<main>
  <div class="owner-logo-header">
    <img src="../static/img/league-logo.webp" alt="DB Logo" class="owner-logo-image">
    <h1>Der Bruden</h1>
  </div>
  <div class="table-container">
    <table class="stats-table">
      <thead>
        <tr>
          <th>Owner</th>
          <th class="number">Games</th>
          <th class="number">W</th>
          <th class="number">L</th>
          <th class="number">Win % | ↓</th>
          <th class="number">PF</th>
          <th class="number">PA</th>
          <th class="number">PDiff</th>
          <th class="number">Playoffs</th>
          <th class="number">Championships</th>
        </tr>
      </thead>
      <tbody>
        {% for stat in stats.index %}
        <tr>
          <td class="owner"><a href="./{{ stat.owner | lower }}.html">{{ stat.owner }}</a></td>
          <td class="number">{{ stat.games }}</td>
          <td class="number">{{ stat.wins }}</td>
          <td class="number">{{ stat.losses }}</td>
          <td class="number">{{ stat.winPct | fixed(3) }}</td>
          <td class="number">{{ stat.rgpf | comma }}</td>
          <td class="number">{{ stat.rgpa | comma }}</td>
          <td class="number">{{ stat.pointsDiff | comma }}</td>
          <td class="number">{{ stat.playoffs }}</td>
          <td class="number">{% if stat.championships > 0 %}{% for i in range(0, stat.championships) %}🏆{% endfor %}{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
